<div style="text-align:center">
<br></br>
<h1>Dashboard</h1>
<br></br>


<div class="m-4">
<table class="table table-hover">
  <thead >
    <tr>
      <th scope="col"><h6>Hospital Name</h6></th>
      <th scope="col"><h6>Specialty</h6></th>
      <th scope="col"><h6>Available Slots</h6></th>
      <th scope="col"><h6>Used Slots</h6></th>


    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <% @allocations_for_hospital = @allocations.where(:hospital_id => hospital.id) %>

      <% @allocations_for_hospital.each do |allocation_for_hospital| %>
        <% specialty_from_allocation = @specialties.find(allocation_for_hospital.specialty_id) %>
          <tr>
          <td class="col-4"><%= hospital.hospital_name %></td>
          <td class="col-4"><%= specialty_from_allocation.SpecialtyName %></td>
            
          <% @available_slots = allocation_for_hospital.available_slots %>
          <% @used_slots = allocation_for_hospital.used_slots %>

          <td class="col-1"><%= @available_slots %></td>
          <td class="col-4"><%= @used_slots %></td>
            
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div>

<br>
<br>
<br>
<br>
<br>
</div>
