<h1>Dashboard</h1>

<div style="width: 500px;">
<table class="table table-bordered table-striped table-hover table-sm ">
  <thead >
    <tr>
      <th scope="col"><h6>Hospital Name</h6></th>
      <th scope="col"><h6>Number of Spaces Available</h6></th>
      <th scope="col"><h6>Number of Students Allocated</h6></th>


    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <% @number_allocated = @schedules.where(:id => hospital.id).count %>
        <td class="col-4"><%= hospital.hospital_name %></td>
        <td class="col-4"><%= hospital.numberSpaces - @number_allocated %></td>
        <td class="col-4"><%= @number_allocated %></td>



      </tr>
    <% end %>
  </tbody>
</table>
<div>
