<br/>

Add new specilty
<br>
<br>


    <form action = "/hello/there" >
       Please enter the ID.
       <br>
       <br>
       <input class="form-control" type="text" name="specialtyID" placeholder="Specialty ID">
       <br>
       <br>
       Please enter the specialty name.
       <br>
       <br>
       <input class="form-control" type="text" name="specialtyName" placeholder="Specialty Name">
       <br>
       <br>
       <button class="btn btn-outline-primary" type="submit">Add</button>
     </form>




<br>
<br>

<!--Add button-->
<!--redirects back to the specilties page-->
<button id="myButton" class="btn btn-outline-secondary" >Back </button>

    <script type="text/javascript">
        document.getElementById("myButton").onclick = function () {
            location.href = "http://localhost:3000/specialties";
        };
    </script>
