<br></br>
<div class="form_card">
  <div class="card-body">
    <h1>Add a Course</h1>
    </br>
      <%= render 'form', programme_course: @programme_course %>
    </br>
    <%= link_to 'Back', programmes_path, class:"btn btn-outline-dark"  %>
</div>
</div>
