<h1>Editing Programme</h1>
</br>
<%= render 'form', programme: @programme %>
</br>
<%= link_to 'Show', @programme, class: "btn btn-outline-primary" %> |
<%= link_to 'Back', programmes_path, class: "btn btn-outline-primary" %>
