<br></br>
<div class="form_card">
  <div class="card-body">
      <h1>Add new Programme</h1>
      </br>
      <%= render 'form', programme: @programme %>
      </br>
      <%= link_to 'Back', programmes_path, class:"btn btn-outline-dark" %>
    </div>
</div>
