
<br/>
<div class="form_card">
  <div class="card-body">
    <h1>Add new rotation</h1>
    <%= render 'form', rotation: @rotation %>
    </br>
    <%= link_to 'Back', rotations_path, class:"btn btn-outline-dark" %>
  </div>
</div>
