
<br/>
<div class="form_card">
  <div class="card-body">
    <h1>Edit Site Facilitator Allocation</h1>

    <%= render 'form', site_facilitator_allocation: @site_facilitator_allocation%>
    <br/>
    <%= link_to 'Show', @site_facilitator_allocation, class:"btn btn-outline-dark" %>

    <%= link_to 'Back', site_facilitator_allocations_path, class:"btn btn-outline-dark" %>
  </div>
</div>


