

<br/>
<div class="form_card">
  <div class="card-body">
    <h1>New Site Facilitator Allocation</h1>
    <%= render 'form', site_facilitator_allocation: @site_facilitator_allocation%>
    
    <%= link_to 'Back',  site_facilitator_allocations_path, class:"btn btn-outline-dark" %>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
