

<br/>
<div class="card">
  <div class="card-body">
    <h1>Edit group assignment</h1>

    <%= render 'form', group_assignment: @group_assignment %>
    <br/>
    <%= link_to 'Show', @group_assignment, class:"btn btn-outline-dark" %>
    
    <%= link_to 'Back', group_assignments_path, class:"btn btn-outline-dark" %>
  </div>
</div>
