
<br/>
<div class="form_card">
  <div class="card-body">
    <h1>Edit Allocation</h1>

    <%= render 'form', allocation: @allocation%>
    <br/>
    <%= link_to 'Show', @rotation, class:"btn btn-outline-dark" %>

    <%= link_to 'Back', rotations_path, class:"btn btn-outline-dark" %>
  </div>
</div>

