
<br/>
<div class="form_card">
  <div class="card-body">
    <h1>Add new allocation</h1>
    <%= render 'form', allocation: @allocation%>
    
    <%= link_to 'Back', allocations_path, class:"btn btn-outline-dark" %>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>