<br></br>
<div class="form_card">
  <div class="card-body">
      <h1>New Student</h1>
      </br>
        <%= render 'form', student: @student, class: "text-center" %>
        </br>
        <%= link_to 'Back', students_path, class: "btn btn-outline-dark" %>
        </br>
      </div>
  </div>
