<%= stylesheet_link_tag "users" %>
<div class="text-center">
  <img src="https://holy.trinity.joburg/wp-content/uploads/2017/11/Wits-University-logo.jpg" class="rounded" alt="University Of The Witwatersrand Logo" style="width: 150px">
</div>
<div id="user">
<h1>Edit User</h1>
</div>

<%= render 'form', user: @user %>

<br>
<%= link_to 'Back', users_path, class: "btn btn-secondary" %> |
<%= link_to 'Show', @user,class: "btn btn-primary"  %> 

