<div class="fixed-bottom text-center">

   <footer  id="sticky-footer" class="py-3 bg-primary text-white-50">
      <small >Copyright &copy;2021- Wits University Health Department</small>
    </footer>
 
</div>
