<!--SHARED NAV BAR-->

<!-- ISSUE!-> not active on specific page -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">WITS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
            <!--goes to specified view-->
         <li class="navbar-item <%= 'active' if current_page?(blocks_path)%> " >
          <%= link_to "Blocks",blocks_path, 
            method: :get,
            class:'nav-link active', 
            aria: { current: 'page'} %>
        </li>

         <!--goes to specified view-->
         <li class="<%= 'active' if current_page?(hospitals_path)%> navbar-item" >
          <%= link_to "Hospitals",hospitals_path, 
            method: :get,
            class:'nav-link active', 
            aria: { current: 'page'} %>
          
        </li>

        <!--ADD OTHER VIEW NAVS HERE!!-->
      </ul>
    </div>
  </div>
</nav>
