<div style="text-align:center">
<br></br>
<h1>Manage Administration</h1>

<br></br>


<p>
  <%= link_to 'Create Admin',
     new_admin_registration_path, class: "btn btn-primary btn-lg" %>
</p>
<p>
  <%= link_to 'Edit Admin',
     edit_admin_registration_path, class: "btn btn-primary btn-lg" %>
</p>
</div>
