
<br/>
<div class="card">
  <div class="card-body">
    <h1>Add new specialty</h1>
    <%= render 'form', specialty: @specialty %>
    </br>
    <%= link_to 'Back', specialties_path, class:"btn btn-outline-dark" %>
  </div>
</div>

