

<br/>
<div class="form_card">
  <div class="card-body">
    <h1>Edit block</h1>

    <%= render 'form', block: @block%>
    <br/>
    <%= link_to 'Show', @block, class:"btn btn-outline-dark" %>

    <%= link_to 'Back', blocks_path, class:"btn btn-outline-dark" %>
  </div>
</div>
