



<br/>
<div class="card">
  <div class="card-body">
    <h1>Add new block</h1>
    <%= render 'form', block: @block %>
    </br>
    <%= link_to 'Back', blocks_path, class:"btn btn-outline-dark" %>
  </div>
</div>
