<br></br>
<div class="form_card">
  <div class="card-body">
    <h1>New Course Specialty</h1>
    </br>
    <%= render 'form', course_specialty: @course_specialty %>
    </br>
    <%= link_to 'Back', courses_path, class:"btn btn-outline-dark" %>
  </div>
  </div>
