

	<!---Search bar-->
	</br>
<%= search_form_for @q do |f| %>
<div class="d-flex flex-row">

 <%= f.search_field :hospital_name_or_hospital_contactNo_or_hospital_locatioin_cont ,class:"form-control mr-sm-2" ,placeholder:"Enter Hospital Name" %>
 
 
 <%= f.submit class:"btn btn-outline-dark" %>


 	
<% end %>
</div>
<!-- ================-->