<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course.CourseDescription %>
  <br>
  <strong>Course ID:</strong>
  <%= @course.id %>
</p>

<%= link_to 'Back', edit_course_path(@course),class:"btn btn-outline-primary" %> 

<!--removed edit here not necessary>