
<br/>
<div class="form_card">
  <div class="card-body">
    <h1>New Site Facilitator</h1>
    <%= render 'form',site_facilitator: @site_facilitator%>
    
    <%= link_to 'Back', site_facilitators_path, class:"btn btn-outline-dark" %>
    <br>