
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   }
   .container-fluid{
    flex-grow: 1;
    }

   footer{
   flex-grow: 0;
   }

   #Witstitle{
    font-family: Lora, Quicksand, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 2px;
   }

