
<div class="text-center">
  <img src="https://holy.trinity.joburg/wp-content/uploads/2017/11/Wits-University-logo.jpg" class="rounded" alt="University Of The Witwatersrand Logo" style="width: 150px">
</div>

<div id="HA">
  <h1>Editing <%=@hospital_assignment.hospital.hospital_name%>s Hospital Assignment</h1>
</div>
<%= render 'form', hospital_assignment: @hospital_assignment %>

<%= link_to 'Show', @hospital_assignment %> |
<%= link_to 'Back', hospital_assignments_path %>
